@font-face {
  font-family: "Quicksand"; 
  src: url("fonts/Quicksand-Medium.ttf") format("truetype"); 
}

.App {
  text-align: center;
}

.App-logo {
  height: auto;
  pointer-events: none;
  width: 60%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Quicksand !important;
  color: black; 
}

.App-link {
  color: #61dafb;
}

.more-info-page {
  min-height: 100vh; 
  background-color: #282c34;
}

.more-info-box {
  width: 80%;
  align-items: center;
  color: #ffffff;
  margin-left: 10%;
  padding-top: 10%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-header {
  font-size: 80px; 
  margin-bottom: 10px; 
}

.SpotifyAuth {
  color: red !important; 
  background-color: green;
}

.spotify-button {
  background-color: white;
  border: none; 
}

.spotify-button:hover {
  cursor: pointer; 
  background-color: #fafafa;
}

.navbar {
  margin-top: 20px; 
  height: 80px; 
  justify-content: center; 
  align-items: center; 
}

.navbar-logo {
  padding-left: 100px; 
  font-family: Quicksand; 
  float: left;
}

.navbar-user {
  float: right; 
  padding-right: 100px; 
  font-family: Quicksand; 
}

.home-authenticated {
  min-height: 70vh; 
}

.home-header-authenticated {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vw);
  font-family: Quicksand !important;
  color: black; 
  margin-bottom: 10px; 
}

.home-buttons-holder {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-bottom: 200px; 
}

.home-other-buttons-holder {
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.home-button {
  display: inline; 
  margin-left: 20px; 
  margin-right: 20px; 
}

.button1 {
  background-color: #8fffa7;
  border-color: black; 
}